.nav{
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;

    .nav_content{
        display: flex;
        justify-content: space-between;
        .nav_logo{
            position: fixed;
            width: 80px;
            top: 10px;
            left: 0;
            object-fit: contain;
            padding-left: 20px;
            cursor: pointer;
        }
        .avatar_logo{
            position: fixed;
            width: 30px;
            right: 20px;
            cursor: pointer;
        }
    }
}
.nav_black{
    background: var(--black);
}